.heading{
  background-color: black;
  color: white;
  font-size: 24px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  display: flex;
  flex-direction: row;
  gap:30px;
  flex-wrap: wrap;
}